extends layout
include utils.pug

append head
    //- add page specific styles by appending to the head
    //-   link(rel="stylesheet" href="/stylesheets/index.css")
    //- add page specific js
    script(src="/javascripts/answer.js" type="module" defer)
    script(src="/javascripts/question.js" type="module" defer)

block content
    div#question-page
        div#individual-question
            textarea#question-title-editor(name="questionTitleEditor")
            h1#question-title= `Title: ${question.title}`
            textarea#question-details-editor(name="questionDetailsEditor")
            h1#question-details= `Details: ${question.details}`
            if isMyQuestion
                a#question-edit-link(href=`/questions/${question.id}/edit`) Edit this question
                a#question-delete-link(href=`/questions/${question.id}/delete`) Delete this question
                a#question-done-editing-link(href=`/questions/${question.id}/edit`) Done Editing Question
            h2 Question Comments
            ul#q-comments-list
                each qComment in qComments
                    li.question-comment-li
                        textarea.comment-details-editor(name="commentDetailsEditor")
                        h3= `${qComment.User.firstName} ${qComment.User.lastName} : ${qComment.comment}`
                            if(userId === qComment.userId)
                                a.comment-editor(href=`/comments/q/${qComment.id}/edit`) Edit this comment
                                a.comment-delete(href=`/comments/q/${qComment.id}/delete`) Delete this comment
                                a.comment-done-editing-link(href=`/comments/q/${qComment.id}`) Done Editing Comment
                +validationErrorSummary(errors)
                form(id='new-question-comment' method='post' action=`/questions/${question.id}/comments`)
                    input(type='hidden' name= '_csrf' value= csrfToken)
                    +field('New Comment on this Question: ', 'comment', '', 'textarea', true)
                    button(type='submit') Add a comment


            ul#answer-list
                each answer in answers
                    div#question-answers
                        textarea.answer-details-editor(name="answerEditor")
                        h2.answer-details= `Answer from ${answer.User.firstName} ${answer.User.lastName}: ${answer.answer}`
                            if(userId === answer.userId)
                                a.answer-edit-link(href=`/answers/${answer.id}/edit`) Edit this Answer
                                a.answer-delete-link(href=`/answers/${answer.id}/delete`) Delete this Answer
                                a.answer-done-editing-link(href=`/answers/${answer.id}`) Done Editing Answer
                            h1= `Answer ${answer.id} Comments`
                            ul
                                each aComment in answer.AnswerComments
                                    li.question-comment-li
                                        textarea.comment-details-editor(name="commentDetailsEditor")
                                        h3= `${aComment.User.firstName} ${aComment.User.lastName} : ${aComment.comment}`
                                            if(userId === aComment.userId)
                                                a.comment-editor(href=`/comments/a/${aComment.id}/edit`) Edit this comment
                                                a.comment-delete(href=`/comments/a/${aComment.id}/delete`) Delete this comment
                                                a.comment-done-editing-link(href=`/comments/a/${aComment.id}`) Done Editing Comment
                            +validationErrorSummary(errors)
                            form(class='new-answer-comment' method='post' action=`/answers/${answer.id}/comments`)
                                input(type='hidden' name= '_csrf' value= csrfToken)
                                +field('Comment: ', 'comment', '', 'textarea', true)
                                button(type='submit') Add a comment



        div#new-answer
            h2 Your Answer
            +validationErrorSummary(errors)
            form(id='new-answer' method='post' action=`/questions/${question.id}/answers`)
                input(type='hidden' name= '_csrf' value= csrfToken)
                +field('Full Answer: ', 'answer', '', 'textarea', true)
                button(type='submit') Post Your Answer
        div#home-div
            a#back-home(href="/questions") Back to the questions
