extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div#question
        h1 Question
        p= question.title 
            h1 Question Comments 
            ul 
                each qComment in qComments 
                    li= qComment.comment 
                        +validationErrorSummary(errors)
                        form(id='new-question-comment' method='post' action=`/questions/${question.id}/comments`)
                            +field('Comment: ', 'qcomment', '', 'textarea', true)
                            button(type='submit') Comment on this Question
    div#question-answers
        h1 Answers
            ul 
                each answer in answers 
                    li= answer.answer
                        +validationErrorSummary(errors)
                        form(id='new-answer' method='post' action=`/answers/${question.id}/comments`)
                            +field('Comment: ', 'answer', '', 'textarea', true)
                            button(type='submit') Comment on this Answer


            h1 Answer Comments
                ul 
                    each aComment in aComments 
                        li= aComment.comment

    div#new-answer
        +validationErrorSummary(errors)
        form(id='new-answer' method='post' action=`/questions/${question.id}/answers`)
            +field('Full Answer: ', 'answer', '', 'textarea', true)
            button(type='submit') Submit an Answer to this Question!
        a(href="/questions") Back to the questions 