mixin validationErrorSummary(errors)
    if errors  
        div(class='alert-error' id='validation-error-div')
            p The following error(s) occurred:
            ul 
                each error in errors 
                    li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', req = false, placeholder = null)
    div(class='form-div')
        label(for=fieldName)= labelText
        if fieldType === 'textarea'
            textarea(id=fieldName name=fieldName class='form-input' rows='5' required= `${req}`)= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-input' required= `${req}`)
